@font-face {
	font-family: 'IM Fell French Canon Pro';
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff") format("woff");
	font-weight: normal;
	font-style: normal;
  }

  @media (max-width: 600px) 
  {
    body > p:first-of-type, body > p:last-of-type {
      font-style: italic;
      font-size: 0.5rem;
      }
  }


body {
  height: 100vh;
  background: #fdf6e3;
	font-family: IM Fell French Canon Pro;
	scroll-behavior: smooth;
	margin: 3rem;
  }
  body > p:first-of-type, body > p:last-of-type {
	font-style: italic;
	font-size: 1.2rem;
  }
  body > p:first-of-type a, body > p:last-of-type a {
	text-decoration: none;
	color: #222;
	font-weight: bolder;
  }
  body > p:last-of-type {
	text-align: right;
  }
  
  section article #editorjs {
	max-width: 40rem;
	line-height: 1.4;
	margin: 0 auto;
  }
  section article #editorjs h1 {
	font-size: 3rem;
  }
  section article #editorjs h2 {
	text-align: center;
	margin: 0;
  }
  section article #editorjs h2 img {
	width: 40%;
	min-width: 200px;
  }
  section article #editorjs h3 {
	font-size: 2.3rem;
	text-align: center;
  }
  section article #editorjs h3 span {
	display: block;
  }
  section article #editorjs h3 span:after {
	content: ":";
  }
  section article #editorjs p {
	font-size: 1.4rem;
  }
  section article #editorjs img#runes {
	display: block;
	max-width: 100%;
  }
  section article #editorjs  {
	float: right;
	margin-left: 3rem;
	width: 17.8rem;
  }
  @media all and (max-width: 600px) {
	section article #editorjs  {
	  float: none;
	  display: block;
	  width: 75%;
	  margin: 0 auto;
	}
  }

main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}


.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
  
