<script>
import Relato from "./Relato.svelte";
import MeuRelato from "./MeuRelato.svelte";
import Busca from "./Busca.svelte";	
import DarkMode from './DarkMode.svelte'
let claro = true;


if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
    }
</script>
<style>
  header.home {
    display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
  }
  
	:global(body) {
		transition: background-color 0.3s
	}
	:global(body.dark-mode) {
		background-color: #1d3040;
		color: #e9de43;
	}
  
</style>
<section>
  <header  class="home">
<h1>Meu relato de parto</h1>
<DarkMode claro="true">
  Alterar Cor
</DarkMode>
</header>
<MeuRelato />
</section>