<script>
    import { onMount } from "svelte";
  import Search from "./Busca.svelte";
    export let date;
  
    onMount(async () => {
      const res = await fetch("/api/date");
      const newDate = await res.text();
      date = newDate;
    });
  </script>
  
  <header>
   <Search />
  </header>
  