<script>
	import EditorJS from "@editorjs/editorjs";
	import Header from "@editorjs/header";
  
	import Modal from "./Modal.svelte";
  
	let showModal = false;
  
	class InputDate {
	  static get toolbox() {
		return {
		  title: "Data",
		  icon:
			'<svg class="svg-icon" viewBox="0 0 20 20"><path d="M16.557,4.467h-1.64v-0.82c0-0.225-0.183-0.41-0.409-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H5.901v-0.82c0-0.225-0.185-0.41-0.41-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H3.442c-0.904,0-1.64,0.735-1.64,1.639v9.017c0,0.904,0.736,1.64,1.64,1.64h13.114c0.904,0,1.64-0.735,1.64-1.64V6.106C18.196,5.203,17.461,4.467,16.557,4.467 M17.377,15.123c0,0.453-0.366,0.819-0.82,0.819H3.442c-0.453,0-0.82-0.366-0.82-0.819V8.976h14.754V15.123z M17.377,8.156H2.623V6.106c0-0.453,0.367-0.82,0.82-0.82h1.639v1.23c0,0.225,0.184,0.41,0.41,0.41c0.225,0,0.41-0.185,0.41-0.41v-1.23h8.196v1.23c0,0.225,0.185,0.41,0.41,0.41c0.227,0,0.409-0.185,0.409-0.41v-1.23h1.64c0.454,0,0.82,0.367,0.82,0.82V8.156z"></path></svg>',
		};
	  }
  
	  render() {
		const input = document.createElement("input");
		input.type = "date";
		return input;
	  }
  
	  save(blockContent) {
		return blockContent.value;
	  }
	}
  
	class InputTime {
	  static get toolbox() {
		return {
		  title: "time",
		  icon:
			'<svg class="svg-icon" viewBox="0 0 20 20"><path d="M10.25,2.375c-4.212,0-7.625,3.413-7.625,7.625s3.413,7.625,7.625,7.625s7.625-3.413,7.625-7.625S14.462,2.375,10.25,2.375M10.651,16.811v-0.403c0-0.221-0.181-0.401-0.401-0.401s-0.401,0.181-0.401,0.401v0.403c-3.443-0.201-6.208-2.966-6.409-6.409h0.404c0.22,0,0.401-0.181,0.401-0.401S4.063,9.599,3.843,9.599H3.439C3.64,6.155,6.405,3.391,9.849,3.19v0.403c0,0.22,0.181,0.401,0.401,0.401s0.401-0.181,0.401-0.401V3.19c3.443,0.201,6.208,2.965,6.409,6.409h-0.404c-0.22,0-0.4,0.181-0.4,0.401s0.181,0.401,0.4,0.401h0.404C16.859,13.845,14.095,16.609,10.651,16.811 M12.662,12.412c-0.156,0.156-0.409,0.159-0.568,0l-2.127-2.129C9.986,10.302,9.849,10.192,9.849,10V5.184c0-0.221,0.181-0.401,0.401-0.401s0.401,0.181,0.401,0.401v4.651l2.011,2.008C12.818,12.001,12.818,12.256,12.662,12.412"></path></svg>',
		};
	  }
  
	  render() {
		const input = document.createElement("input");
		input.type = "time";
		return input;
	  }
  
	  save(blockContent) {
		return blockContent.value;
	  }
	}
	const editor = new EditorJS({
	  autofocus: true,
	  tools: {
		header: Header,
		date: {
		  class: InputDate,
		  inlineToolbar: true,
		},
		time: {
		  class: InputTime,
		  inlineToolbar: true,
		},
	  },
	  holder: "meurelato",
	  data: {
		time: Date.now(),
		blocks: [
		  { type: "header", data: { text: "Diabete gestacional", level: 2 } },
		  { type: "header", data: { text: "<b>DP: 01/05/2020</b>" } },
		  { type: "header", data: { text: "<b>DN: 03/05/2020</b>" } },
		  {
			type: "paragraph",
			data: {
			  text:
				"No dia 29/04  - Eu recebi o resultado dos exames de rotina do 3° trimestre, ao passar para minha querida ginecologista obstetra Fernanda Foresti. Ela constatou diabete gestacional. E assim foi indo pelo ralo o meu tão sonhado parto domiciliar.",
			},
		  },
		  {
			type: "paragraph",
			data: {
			  text:
				"Eu completava 40 semanas de gestação no dia 01/05, com isso começara a se ter um risco em esperar muito pelo nascimento. Decidimos junto a Fernanda (o anjo que Deus colocou na minha vida) a Luciana Lorenzo (Minha cumadre e Enfermeira Obstetra outro anjo), e meu amado esposo começar a indução natural, colocar o balão quando eu completasse 40 semanas e acompanhar bem de perto o desenvolvimento do bebe e da placenta.",
			},
		  },
		  {
			type: "paragraph",
			data: {
			  text:
				"Dia 30/04 pela tarde a doutora em consulta realizou o deslocamento de membranas , e viu que eu tinha 1cm de dilatação, neste mesmo dia já comecei a tomar o chá e o shake  que a Lu me passou, e fazer caminhada. Dia 01/05 fiz uma ultrassom pela manhã, estava tudo muito bem com o bebê, pela tarde Lu foi em casa me avaliar e fazer novamente o deslocamento de membranas, eu estava com 3 cm de dilatação, devido a essa dilatação já não fazia mais sentido utilizar o balão. Meu corpo não dava nenhum sinal, eu não sentia absolutamente nada, Lu ficou conversando um pouco conosco, nos tranquilizou. Meu esposo sempre me motivando e apoiando, eu estava bem ansiosa, com medo de ter que ir para a 3° cesárea, chorava muito, mas continuei firme na indução.",
			},
		  },
		  {
			type: "paragraph",
			data: {
			  text:
				"Dia 02/05 pela manhã quando acordei e fui ao banheiro perdi bastante tampão com sangue, avisei a equipe e continuei firme nos chás, shakes e caminhada. No início da tarde fui ao PS do hospital a pedido de minha doutora,fazer o perfil biofísica fetal do bebê e uma ultrassom, tudo estava ótimo, Max super bem e durante o cardiotoco foi detectada uma boa contração, passei o dia perdendo tampão com sangue, porém não sentia nenhuma dor. De noite exatamente as 21:00 horas eu senti uma contração dolorida, era o início do trabalho de parto, porém as contrações vinham muito irregulares, com intervalos de 3, 6, 7 min, pelos relatos que li eu pensei, a isso é alarme falso, na minha cabeça tinha que vir com intervalos certinhos de tempo, mas devido a dor avisei a Lu, que me orientou a tomar banho e observar se paravam e descansar. No banho eu queria morrer a água fazia doer muito mais, e fez diminuir o intervalo de tempo entre as contrações, eu não conseguia descansar, a única posição mais confortável era ficar meio a agachada dependurada no pescoço do meu marido, coitado, xingava ele de tudo que era jeito, Lu disse que viria me avaliar, eu não deixei, porque na minha cabeça aquilo não era TP, já que não tinha intervalos  perfeitamente iguais entre as contrações, por volta das 3:00 dá madrugada a dor mudou, eu pensei, pronto, agora eu vou morrer, já não quero mais que esse neném nasça, falei pro meu esposo quero a cesárea e quero agora, chama a Lu pq se não vc é um homem morto, eu já tinha batido e apertado tanto o coitado, ele nem ligou, mas chamou a Lu, e eu a doida que não podia deixar de cronometrar as contrações, Lu chegou super rápido, me avaliou e me estava com 9 de dilatação , eu não acreditei, na minha cabeça com 9 de dilatação eu já devia conseguir tocar a cabeça do neném. A irmã de Lu chegou para ficar olhando minhas duas nenês mais velhas e fomos pro hospital, Lu parteira multi uso foi a motorista e o marido massageando minhas costas, quando estávamos quase chegando no hospital rompe a bolsa de águas, Lu dizendo não faz força se não nasce no carro e a parteira tá dirigindo.",
			},
		  },
		  {
			type: "paragraph",
			data: {
			  text:
				"Chegamos na porta do hospital, doutora Fernanda já me esperando fomos correndo pra sala de avaliação, dilatação total, me colocam correndo na maca e me sobem para a sala de cirurgia, como eu já tinha duas cesáreas anteriores não poderia ir para sala de parto, enquanto todos se trocavam fiquei com duas enfermeiras do hospital que já me colocaram na mesa de cirurgia e já queriam amarrar meus braços para a cesárea, eu só conseguia gritar não aguento ficar deitada, me soltem, eu vou parir, me soltem. Elas diziam que não tinha como pq eu tinha duas cesáreas, então entra a doutora Fernanda já com a banqueta na mão e diz ajudem ela a descer e tragam pra banqueta, elas ainda resistiram um pouco, mas enfim me levaram pra banqueta, enquanto isso chegaram Lu e meu esposo na sala, me posicionaram na banqueta a doutora começou a monitorar o batimento do bebê, os 3 sempre me lembrando de respirar, então chega o pediatra Doutor Fernando, e logo em seguida nasce Max, a ",
			},
		  },
		  {
			type: "paragraph",
			data: {
			  text:
				"4:55 da manhã do dia 03/05. Tivemos nossa hora de ouro imedista após o nascimento, ele só foi fazer a medição e demais procedimentos depois de quase duas horas de nascido acompanhado do pai e logo voltou pro colo da mamãe,fomos para o quarto juntos. Tive minha alta com 24 horas pós parto devido a pandemia, Meu pós parto foi maravilhoso, em nada se compara aos das cesáreas anteriores.",
			},
		  },
		],
		version: "2.18.0",
	  },
	});
  
	export const compose = (...funcoes) =>  (texto) => funcoes.reduce((acc, fn) => fn(acc), texto);
  
	export let output = "";
  
	export let href = "https://wa.me/?text=";
  </script>
  
  <style>
	.meurelato {
	  
	  display: flex;
	  flex-direction: column;
	  height: inherit;
	}
	   .topo {
	  background-image: url('../assets/pergaminhocabecalho.png');
	  flex: auto;
	}
  
	 .centro {
	   padding-left: 40px;
  flex: auto;
	  background-image:  url('../assets/pergaminhofundo.png');
	}
	 .rodape {
	  background-image: url('../assets/pergaminhorodape.png');
	  flex: auto;
	}
  
  </style>
  
  
  
  <button
	on:click={() => {
	  showModal = true;
	  editor
		.save()
		.then((outputData) => {
		  console.log(outputData);
      output = outputData.blocks;		  
      href = href + txtToShare;
		  const txtToShare = output.map(block => {
			if (  block.type === 'header')  {
			   return "✏ *"+block.data.text+"* ✍" 
			}  else { 
			  const { text } = block.data;
			  const doutora = [ 'ginecologista', 'obstetra', 'doutora' ];
			  const insertMaternidade = (txt) =>  txt.split(" ").map(word => (word === 'maternidade') ? word + " 🏩" : word).join(' ');
			  const insertDoutora = (txt) =>  txt.split(" ").map(word => (doutora.indexOf(word) > -1) ? " ⚕" + word : word).join(' ');
			  const insertAmamentacao = (txt) =>  txt.split(" ").map(word => (word === 'amamentacao') ? " 🤱" + word : word).join(' ');
			  const insertGravidez = (txt) =>  txt.split(" ").map(word => (word === 'gravidez') ? " 🤰" + word : word).join(' ');
			  const insertBebe = (txt) =>  txt.split(" ").map(word => (word === 'bebe') ? " 👶" + word : word).join(' ');
			  const dataCalendar = (txt) =>  txt.split(" ").map(word => /\d+\/\d+$/.test(word) ? " 🗓" + word : word).join(' ');
			  const hour = (txt) =>  txt.split(" ").map(word => /\d+:\d+$/.test(word) ? " 🕐" + word : word).join(' ');
			  
			  const porBox = (txt) =>  {
				txt.slice(25)
				return 
			  }
			  const porEmotion = compose(
				insertMaternidade,
				insertDoutora,
				insertAmamentacao,
				insertGravidez,
				insertBebe,
				dataCalendar,
				hour
			  );
			  
			  return "```✪✯✩✯✩✯✩♡✩✯✩✯✩✯✪```" + decodeURI('%0A') + "➮" + porEmotion(text) + " ✪✯✩✯✩✯✩♡✩✯✩✯✩✯✪"  + decodeURI('%0A')
  
		  }
      } ).map(encodeURI).join('%0A')
      
      navigator.clipboard.writeText(txtToShare).then(() => {
        console.log('Async: Copying to clipboard was successful!');
      }, (err) => {
        console.error('Async: Could not copy text: ', err);
      });
		})
		.catch((error) => {
		  console.log('Saving failed: ', error);
		});
	}}>
	Ler
  </button>
  <div id="meurelato" />
  {#if showModal}
  <Modal on:close={() => (showModal = false)}>
	
	
		<a {href} target='_blank'>Compartilhar no Whatsapp</a>
		
		<h2  slot="header">Meu relato</h2>
		<section class="meurelato">
		  <header class="topo">&nbsp;</header>
		
		<article class="centro">
		{#each output as block}
		  {#if block.type === 'header'}
		  
				<h3>{@html block.data.text}</h3>
		  {/if}
		  {#if block.type === 'paragraph'}
		  <p>{block.data.text}</p>
		  {/if}
		{/each}
	  </article>
	  <footer class="rodape">&nbsp;</footer></section>
	</Modal>
  {/if}
  