<script>
	
	import Modal from './Modal.svelte';

	let showModal = false;
	
	import EditorJS from '@editorjs/editorjs';
	import Header from '@editorjs/header';

	 new EditorJS({
		tools: {
		  header: Header,
		}
		})
</script>

<style>

section {
    display: flex;
    flex-direction: column;
    height: inherit;
  }
  section > header {
    flex: auto;
  }

  #editorjs {
flex: auto;
  background-image: linear-gradient(to right, #e67d05, #573004);
  background-repeat: no-repeat;
  border: 4px ridge black;
  
  box-shadow: 5px 10px #888888;
  }
  section > footer {
    flex: auto;
  }
</style>

<button on:click="{() => showModal = true}">
	Contar relato
</button>

<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>No dia <input type="date"></h2>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>No dia <input type="date"></h2>
      <article id="editorjs2" ></article>
    </div>
  </div>
</div>